<p class="fw-bold">Bootstrap Badge !</p><hr>

<!-- Notification - count feature -->

<!-- Class Name: badge -->

<button type="button" class="btn btn-success position-relative">
  What's App
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      50+
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>


<br><br>

  <!-- Notification - Only Point -->
  
  <!-- Uses Class Name: positions-rtelative in parent  element & postion-absolute top-0 start-100 translate-middle-->

  <button type="button" class="btn btn-primary position-relative">
    Face Book
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>


  <!-- Backgrounds Colors -->
<br><br>


<div class="d-flex flex-column w-25 p-2 ">
    
    <span class="badge bg-primary mb-2 rounded-pill">Primary</span>
    <span class="badge bg-secondary mb-2 rounded-pill">Secondary</span>
    <span class="badge bg-success mb-2 rounded-pill">Success</span>
    <span class="badge bg-danger mb-2 rounded-pill">Danger</span>
    <span class="badge bg-warning text-dark mb-2 rounded-pill">Warning</span>
    <span class="badge bg-info text-dark mb-2 rounded-pill">Info</span>
    <span class="badge bg-light text-dark mb-2 rounded-pill">Light</span>
    <span class="badge bg-dark mb-2 rounded-pill">Dark</span>

</div>

<br><br>

<hr><hr>

