<hr><br><br>


<!-- <p class="fw-bold">cards works!</p> -->


<!-- Cards -->

<div class="container">
    <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4  col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature2.jpg" class="card-img-top" alt="..." style="height: 23vh">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4  col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =================================================================================================================================== -->

<div class="container">
    <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4  col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature2.jpg" class="card-img-top" alt="..." style="height: 23vh">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4  col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem;">
                <img src="/assets/nature1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>












































<br><br>

<hr>

<div class="card">
    <div class="card-body">
        This is some text within a card body.
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

<br>
<hr>

<div class="card" style="width: 18rem;">
    <img src="/assets/car1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>



<br><br><br>
<hr>
