 <br><br>
                                                                            
<button routerLink="/buttons" class=" ms-3 btn btn-info fw-bold me-3">Buttons</button>
<button routerLink="/cards" class="btn btn-info fw-bold me-3">Cards</button>
<button routerLink="/list-group" class="btn btn-info fw-bold me-3">List Group</button>
<button routerLink="/modal" class="btn btn-info fw-bold me-3">Modal</button>
<button routerLink="/navs_tabs" class="btn btn-info fw-bold me-3">Navs & Tabs</button>
<button routerLink="/navbar" class="btn btn-info fw-bold me-3">Navbar</button>
<button routerLink="/offcanvas" class="btn btn-info fw-bold me-3">OffCanvas</button>
<button routerLink="/pagination" class="btn btn-info fw-bold me-3">Pagination</button>
<button routerLink="/popovers-progress-spinners" class="btn btn-info fw-bold me-3">Popovers & Progress & Spinners</button>



<router-outlet></router-outlet>
