<br><br>
<!--================================================================== OffCanvas (Side Bar) ========================================================================================-->



  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" id="offcanvasExample">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
    </div>
  </div>

  <br><br>
  <hr>

                                                                  <!-- Offcanvas Left & Right -->


<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Link with href
</a>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Button with data-bs-target
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- OffCanvas < start / End / Left / Right > (Top / Bottom / Left / Right)-->


<br><br>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur, ab perspiciatis molestiae exercitationem iste delectus nostrum, voluptatum nobis provident doloribus. Dolorem corporis facilis cumque vitae possimus voluptatibus at ex.
  </div>
</div>


<br><br>

<!-- OffCanvas Back Drop (Scroling in side bar)-->

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Enable backdrop (default)</button>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Colored with scrolling</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis eaque, iusto dolorem, nisi incidunt minus qui ea facilis earum deleniti magnam? Fuga atque dolore quaerat, sequi libero temporibus ducimus dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid cum minus dicta fugit facere laboriosam quasi excepturi sit laudantium? Incidunt omnis illo necessitatibus voluptatem, cum autem illum vitae vero!
    Quia unde laborum corrupti ut, obcaecati harum neque incidunt corporis deleniti minima temporibus voluptate, commodi repudiandae culpa sint numquam! Dignissimos debitis laboriosam totam earum ipsum quasi nam, incidunt voluptates omnis?
    Est praesentium obcaecati maxime ipsam, modi vero ex adipisci beatae dolorem, quia hic itaque voluptate, blanditiis atque natus esse delectus! Ipsum saepe, totam cumque dolorum reprehenderit nemo magnam impedit eius.
    Quisquam ipsam eos delectus? Expedita porro omnis amet sapiente deleniti, ratione repellat numquam reprehenderit enim eaque itaque quo obcaecati labore saepe. Temporibus exercitationem nemo harum dolorum perspiciatis, libero quos excepturi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Et harum eaque dolores aut vel perspiciatis ad molestias asperiores eveniet nemo laborum, enim, magnam, iste adipisci quos. Sapiente consectetur numquam dicta?
    Quae ad at odit inventore reiciendis, asperiores provident vel, vitae iste nam harum! Ex ipsum, sapiente quia eveniet nemo illo quibusdam maxime nisi maiores assumenda, odio deleniti corporis culpa laudantium!
    Porro, eos reprehenderit sint suscipit nisi veniam nesciunt, eveniet tempora repellendus aspernatur amet! Dolore, rerum voluptates nisi quos, cumque reiciendis soluta quae ratione unde eveniet, a vel id eaque deleniti.
    Cupiditate, iure voluptates! Autem quia perspiciatis adipisci commodi amet doloribus fugiat totam molestiae. Voluptatum repellendus ipsa voluptates eum aliquid laudantium. Enim repellendus modi beatae in, perspiciatis esse deleniti corrupti accusamus!
    Culpa accusantium eveniet cupiditate nobis tempora harum? Ab tempore cupiditate officia quia amet fugit fugiat sapiente aspernatur aperiam natus repellendus delectus ratione veniam voluptas, eaque laboriosam similique dignissimos, odit recusandae.
    Quo, fuga error exercitationem numquam ad architecto ipsum voluptatem placeat earum vero. Corrupti reiciendis praesentium fuga nisi, blanditiis, magni doloribus iure voluptas libero eum distinctio optio obcaecati necessitatibus atque odio!
    Ipsam vero qui, magnam soluta quibusdam quod officia dolorem labore libero distinctio incidunt harum alias delectus blanditiis nam eligendi ab dolores atque ullam velit? Perspiciatis impedit voluptatum eveniet porro autem?
    Consequatur, earum assumenda! Accusantium laborum nobis, a deleniti saepe quas, sed dolor eos quia quis aspernatur nihil quisquam tempora quod quibusdam quae molestiae? Iusto velit ullam placeat reiciendis. Minima, tempore?
    Consequatur ducimus assumenda est amet tempore nobis ratione animi excepturi distinctio, quam minus quisquam maiores incidunt dolorum obcaecati, perferendis autem explicabo repellendus. Nisi provident fuga officia. Tempora laborum nesciunt nam!
    Facere aut eveniet eius ut voluptatem totam. Excepturi aperiam sed iste ducimus natus magni enim praesentium id, maiores aliquam provident error tempora consequatur cupiditate, laudantium porro iure molestias, dolores nisi.</p>
  </div>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam facilis quasi possimus, iste perspiciatis non aliquam minus, error earum architecto, expedita sequi laudantium autem tempore eius velit laboriosam dolores aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolorum delectus sit natus veritatis molestiae pariatur corrupti, beatae harum illum repudiandae ratione accusantium, labore fuga fugiat suscipit. Quam, quae molestias!</p>
  </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>